<div class="enrol-header" id="course-infos" data-courseid="{{course_id}}">
    <div class="enrol-header-info">
        <span class="enrol-header-tag">{{category}}</span>
        <h1>{{fullcoursename}}</h1>
        <div class="enrol-header-topics">
            {{#workload}}
                <div class="topic-item">
                    <i class="fa-regular fa-clock"></i>
                    <span>
                        {{workload}} {{#str}}hours, core{{/str}}
                    </span>
                </div>
            {{/workload}}
            {{#has_certificate}}
                <div class="topic-item">
                    <i class="fa-regular fa-circle-check"></i>
                    <span>
                        {{#str}}issue_certificate, theme_suap{{/str}}
                    </span>
                </div>
            {{/has_certificate}}
            <div class="topic-item">
                <i class="fa-regular fa-comment"></i>
                <span>
                    {{#str}}language, core{{/str}} {{langactivename}}
                </span>
            </div>
        </div>
    </div>
    <div class="enrol-header-cta">
        <img src="{{imageurl}}">
        <div class="enrol-header-cta-button">
            {{#self_enrolment}}
                <form id="enrol-form" autocomplete="off" action="{{{wwwroot}}}/enrol/index.php?id={{self_enrolment.id}}" method="post" accept-charset="utf-8" class="mform">
                    <input type="hidden" name="id" value="{{self_enrolment.id}}" />
                    <input type="hidden" name="instance" value="{{self_enrolment.instance}}" />
                    <input type="hidden" name="sesskey" value="{{self_enrolment.sesskey}}" />
                    <input type="hidden" name="_qf__{{self_enrolment.instance}}_enrol_self_enrol_form" value="1" />
                    <input type="hidden" name="mform_isexpanded_id_selfheader" value="1" />

                    {{#require_password}}
                        <label for="enrolpassword" class="d-inline word-break">
                            {{#str}}enrolmentkey, core_group{{/str}}
                        </label>
                        <input type="password" class="form-control enrol-password" name="enrolpassword" id="enrolpassword" value="" autocomplete="new-password">
                    {{/require_password}}

                    {{^isguestuser}}
                        <button id="enrol-button" type="submit" class="btn btn-tertiary" name="submitbutton" value="{{#str}} enrolme, enrol_self {{/str}}">
                            {{#str}} enrolme, enrol_self {{/str}}
                        </button>
                    {{/isguestuser}}
                    {{#isguestuser}}
                        <a href="{{{wwwroot}}}/login" class="btn btn-tertiary">
                            {{#str}} login, theme_suap {{/str}}
                        </a>
                    {{/isguestuser}}

                </form>
            {{/self_enrolment}}
            {{^self_enrolment}}
                <p>{{#str}} notenrollable, enrol {{/str}}</p>
                <a href="{{{config.wwwroot}}}?redirect=0" class="btn btn-tertiary">
                    {{#str}} back, core {{/str}}
                </a>
            {{/self_enrolment}}
        </div>
    </div>
</div>

<div class="enrol-course-tabs">
    <ul class="nav">
        <li><a class="nav-link active" data-toggle="pill" href="#course-general">
            {{#str}}overview, theme_suap{{/str}}
        </a></li>
        <li><a class="nav-link" data-toggle="pill" href="#course-teacher">
            {{#are_teachers}}
                {{#str}}instructors, theme_suap{{/str}}
            {{/are_teachers}}
            {{^are_teachers}}
                {{#str}}instructor, theme_suap{{/str}}
            {{/are_teachers}}
        </a></li>
        {{#has_rating_plugin}}
        <li><a class="nav-link" data-toggle="pill" href="#course-reviews">
            {{#str}}comments, theme_suap{{/str}}
        </a></li>
        {{/has_rating_plugin}}
    </ul>

    <div class="tab-content">
        <div id="course-general" class="tab-pane fade in active">
            {{#summary}}
                {{{summary}}}
            {{/summary}}
            {{^summary}}
                <p><i>{{#str}}no_description_course, theme_suap{{/str}}</i></p>
            {{/summary}}

        </div>
        <div id="course-teacher" class="tab-pane fade">
            {{#teachers}}
                <div class="teacher-item">
                    {{{pic}}}
                    <div class="teacher-item-container">
                        <h2 class="teacher-name">{{firstname}} {{lastname}}</h2>
                        
                        {{#description}}
                            {{{description}}}
                        {{/description}}
                        {{^description}}
                            <p><i>
                                {{#str}}no_description_instructor, theme_suap{{/str}}
                            </i></p>
                        {{/description}}
                        
                        <div class="teacher-numbers" data-render="teacher-numbers"></div>
                    </div>
                </div>
            {{/teachers}}
        </div>
        {{#has_rating_plugin}}
        <div id="course-reviews" class="tab-pane fade">
            <input type="hidden" id="courseid" value="{{course_id}}">
            <div id="plugin_block_ratings_container"></div>
        </div>
        {{/has_rating_plugin}}
    </div>
</div>