body {
    color: var(--dark);
}

p {
    font: var(--font-paragraph1);
}

a {
  color: var(--primary);
}
a:hover {
  color: var(--primary-dark);
}

.simplesearchform .input-group .form-control {
    height: auto;
}

.page-item.active .page-link {
    background-color: var(--primary);
    border-color: var(--primary);
}

#region-main {
    background-color: transparent;
}

.suap-backdrop {
    z-index: 1031;
    position: fixed;
}

.container-counter {
    position: fixed;
    top: 0;
    left: 0;
    display: flex;
    align-items: flex-start;
    pointer-events: none;
    .icon {
        margin-right: 0px;
    }
}

.counter {
    background-color: var(--primary);
    height: 100dvh;
    width: var(--counter-default);
    overflow: hidden;
    pointer-events: all;
    padding: 1rem .5rem;
    border-top-right-radius: 1rem;
    border-bottom-right-radius: 1rem;
    box-shadow: var(--shadow-primary);
    transition: all .2s ease-in;

    .counter-option {
        position: relative;
        color: var(--general-white);
        display: flex;
        align-items: center;
        gap: .5rem;
        padding: .5rem 1rem;
        margin-bottom: .5rem;
        cursor: pointer;
        border-radius: 2rem;
        transition: all 0.2s ease-in-out;
        &.active-toggler, &:hover {
            background-color: var(--primary-dark);
        }
        .count-notification {
            display: flex;
            align-items: center;
            justify-content: center;
            width: 1rem;
            height: 1rem;
            font-size: 10px;
            font-weight: 700;
            background-color: var(--danger-dark);
            border-radius: 20px;
            &.hidden {
                display: none;
            }      
        }
    }

    .counter-header {
        display: flex;
        justify-content: space-between;
        margin-bottom: 1rem;
        .counter-toggler {
            display: flex;
            align-items: center;
            border: none;
            background-color: var(--primary-dark);
            color: var(--general-white);
            padding: .5rem;
            border-radius: .5rem;
        }
        .ava-name {
            font: var(--font-heading2);
            color: var(--general-white);
            white-space: nowrap;
        }
    }

    .drawer-toggler:not(#user-toggler) .counter-label {
        white-space: normal;
    }
}

.counter-toggler .icon {
    margin-right: 0px;
}
.counter-label {
    white-space: nowrap;
}
.counter-close {
    .counter {
        width: var(--counter-close);
        .counter-toggler {
            background-color: transparent;
            transition: all 0.2s ease-in;
            &:hover {
                background-color: var(--primary-dark);
            }
        }
        .counter-option {
            justify-content: center;
            .count-notification {
                position: absolute;
                bottom: 0px;
                right: 0px;
            }
        }
    }
    .counter-header {
        justify-content: center;
    }
    .counter-label {
        display: none;
    }
} 

#user-toggler {
    display: flex;
    align-items: center;
    background-color: var(--light-lighter);
    color: var(--dark);
    gap: .25rem;
    padding: .5rem 1rem;
    border-radius: 1rem;
    margin-bottom: 1rem;
    box-shadow: 0px 4px 4px 0px #00000040;
    cursor: pointer;
    transition: all 0.2s ease-in;
    &.active-toggler, &:hover {
        background-color: var(--primary-dark);
        color: var(--general-white);
        .user-role {
            color: var(--light-dark);
        }
    }
    img {
        width: 40px;
        height: 40px;
        object-fit: cover;
        border-radius: 40px;
    }
    .userinitials {
        margin-right: 0px;
    }
    .user-info {
        line-height: 0px;
        width: 85%;
        overflow: hidden;
    }
    .user-name {
        font: var(--font-heading4);
        margin-bottom: 0;
        text-overflow: ellipsis;
        overflow: hidden;
    }
    .user-role {
        font: var(--font-heading6);
        color: var(--dark-light);
        text-overflow: ellipsis;
        overflow: hidden;
        display: block;
    }
}
.counter-close #user-toggler {
    flex-direction: column-reverse;
    text-align: center;
    justify-content: center;
    background-color: transparent;
    box-shadow: none;
    padding: 0;
    .avatars {
        border-radius: 5rem;
        border: 2px solid transparent;
        transition: all 0.2s ease-in;
        width: 100%;
        position: relative;
        .avatar.current {
            margin-left: 0;
        }
    }
    .avatars:hover, &.active-toggler .avatars {
        border: 2px solid var(--primary-dark);
    }
    .usertext {
        font: var(--font-heading6);
        margin-right: 0 !important;
        color: var(--general-white);
    }
}

.counter .simplesearchform {
    margin-bottom: .5rem;
    .searchform-navbar {
        padding-inline: .5rem;
    }
    .input-group {
        border-bottom: 1px solid var(--general-white);
        flex-direction: row-reverse;
        flex-wrap: nowrap;
    }
    .form-control {
        background-color: transparent;
        border: none;
        color: var(--general-white);
        font: var(--font-paragraph2);
        padding-left: .5rem;
        &:focus {
            box-shadow: none;
        }
        &::placeholder {
            color: var(--general-white);
        }
    }
    .btn-submit {
        background-color: transparent;
        border: none;
        color: var(--general-white);
    }
}
.counter-close .counter .simplesearchform {
    border-radius: 2rem;
    transition: all 0.2s ease-in;
    &:hover {
        background-color: var(--primary-dark);
    }
    .searchform-navbar {
        justify-content: center;
    }
    .input-group {
        border-bottom: 1px solid transparent;
        width: auto;
    }
    .form-control {
        position: absolute;
        opacity: 0;
    }
}

#page.page-suap {
    margin-top: 54px;
    .page-header-headings h1 {
        font: var(--font-heading1);
    }
}
.page-suap {
    margin-left: var(--counter-default);
    transition: all .2s ease-in-out;
    padding: 2rem;
}
.counteroff .page-suap {
    margin-left: 0;
}
.counter-close .page-suap {
    margin-left: var(--counter-close);
}
.counter-close.drawer-open .page-suap {
    margin-left: calc(var(--counter-close) + var(--drawer-open));
}
.drawer-open .page-suap {
    margin-left: calc(var(--counter-default) + var(--drawer-open));
}


.dropdown-menu {
    border: none;
    box-shadow: var(--shadow-primary);
    .dropdown-item {
        width: auto;
        margin-inline: .5rem;
        border-radius: 1.5rem; //24px
        padding-block: .5rem;
        font: var(--font-button2);
        &.active {
            background-color: var(--primary);
        }
        &:hover {
            background-color: var(--light);
            color: var(--dark);
        }
    }
}


@include media-breakpoint-down(md) {
    .drawer-open .page-suap {
        margin-left: calc(var(--counter-default));
    }
}

@include media-breakpoint-down(sm) {
    .page-suap {
        padding: 1.5rem .75rem; //24px 12px
    }
    #page.page-suap .page-header-headings h1 {
        font: var(--font-heading2);
    }
    .counter {
        width: var(--counter-close);
        .counter-option {
            justify-content: center;
            .count-notification {
                position: absolute;
                bottom: 0px;
                right: 0px;
            }
        }
        .counter-header {
            justify-content: center;
        }
        .counter-label {
            display: none;
        }
        #user-toggler {
            justify-content: center;
            background-color: transparent;
            box-shadow: none;
            padding: 0;
        }
        .simplesearchform {
            .searchform-navbar {
                justify-content: center;
            }
            .input-group {
                border-bottom: 1px solid transparent;
                width: auto;
            }
            .form-control {
                position: absolute;
                opacity: 0;
            }
        }
    }

    .counter-open-mobile .counter{
        width: var(--counter-default);
        .counter-header {
            justify-content: space-between;
        }
        .counter-toggler {
            background-color: var(--primary-dark);
        }
        .counter-option {
            justify-content: left;
            .count-notification {
                position: static;
            }
        }
        .counter-label {
            display: block;
        }
        #user-toggler {
            background-color: var(--light-lighter);
            padding: .5rem 1rem;
            box-shadow: 0px 4px 4px 0px #00000040;
        }
        .simplesearchform {
            .input-group {
                border-bottom: 1px solid var(--general-white);
                width: 100%;
            }
            .form-control {
                position: static;
                opacity: 1;
            }
        } 
    }

    .drawer-open-mobile, .counter-open-mobile {
        overflow: hidden;
        & .suap-backdrop {
            height: 100vh;
            width: 100vw;
            background-color: rgba(0, 0, 0, .4);
        }
    }

    .page-suap, .drawer-open .page-suap,
    .counter-close.drawer-open .page-suap {
        margin-left: calc(var(--counter-close));
    }
}

.max-width-suap {
    width: 100%;
    max-width: 100%;
    margin-left: auto;
    margin-right: auto;
}

body.path-admin.path-admin-tool-lp .secondary-navigation .navigation .nav-tabs {
    max-width: 100%;
}

body.path-course-view.pagelayout-course .max-width-suap,
body.path-mod.pagelayout-incourse .max-width-suap
{
    max-width: var(--max-width-layout);
}

#page-mod-scorm-player .max-width-suap {
    max-width: var(--max-width-layout-expanded);
}

.secondary-navigation {
    width: 100%;
}


// .path-mod-h5pactivity .max-width-suap, #page-contentbank .max-width-suap {
//     max-width: var(--max-width-layout-expanded);
// }

// .layout-width-expanded .max-width-suap {
//     max-width: var(--max-width-layout-expanded);
// }

// .course-1.pagelayout-admin .max-width-suap {
//     max-width: none;
// }

.secondary-navigation .navigation {
    padding: 0px;
    margin-inline: 0px;
    .nav-tabs {
        max-width: none;
    }
}


.usp-finish input[type=submit], .usp-search-btn {
    background-color: var(--primary);
    border-radius: 2.5rem;
    border: none;
    color: white;
    font: var(--font-button2);
    margin-left: 10px;
    padding: .5rem 1rem;
}

.pagination {
    margin: 1rem auto;
}